/* Base CSS for whole site */

body {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: serif;
    text-align: center;
}

h1 {
    color: lightcoral;
    font-size: 50px;
    font-size: 60px;
    margin-right: 20%;
    margin-left: 20%;
}

a {
    color: coral;
    text-decoration: none;
}

.navbar {
    list-style-type: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.navitem {
    display: inline;
    font-family: sans-serif;
}

#homeintro {
    margin-right: 20%;
    margin-left: 20%;
}